<?xml version="1.0"?>
<config>
    <modules>
        <Update_Product>
            <version>0.1.0</version>
        </Update_Product>
    </modules>
    <!--<frontend>
        <routers>
            <product>
                <use>standard</use>
                <args>
                    <module>Update_Product</module>
                    <frontName>product</frontName>
                </args>
            </product>
        </routers>
        <layout>
            <updates>
                <product>
                    <file>product.xml</file>
                </product>
            </updates>
        </layout>
 </frontend>-->
    <admin>
        <routers>
			<product>
				<use>admin</use>
				<args>
					<module>Update_Product</module>
					<frontName>product</frontName>
				</args>
			</product>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<product module="product">
				<title>xChange Rate Updater KonVis</title>
				<sort_order>71</sort_order>
				<action>product/adminhtml_product/edit/id/1</action>               
				<!--<children>
					<items module="product">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>product/adminhtml_product</action>
					</items>
			</children>-->
			</product>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Update_Product>
							<title>Product Module</title>
							<sort_order>10</sort_order>
						</Update_Product>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<product>
					<file>product.xml</file>
				</product>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <product>
                <class>Update_Product_Model</class>
                <resourceModel>product_mysql4</resourceModel>
            </product>
            <product_mysql4>
                <class>Update_Product_Model_Mysql4</class>
                <entities>
                    <product>
                        <table>product</table>
                    </product>
                </entities>
            </product_mysql4>
        </models>
        <resources>
            <product_setup>
                <setup>
                    <module>Update_Product</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </product_setup>
            <product_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </product_write>
            <product_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </product_read>
        </resources>
        <blocks>
            <product>
                <class>Update_Product_Block</class>
            </product>
        </blocks>
        <helpers>
            <product>
                <class>Update_Product_Helper</class>
            </product>
        </helpers>
    </global>
</config>